<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Target List</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <script src="{{url_for('static', filename='javascript/base.js')}}"></script>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <form action="{{ url_for('base') }}" method="get" class="search-form">
    <input type="text" name="search" placeholder="Search...">
    <button type="submit">Search</button>
    <button type="button" onclick="location.href='/base'">Reset</button>
  </form>

  <table border="1" class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <!--<th>Index</th>-->
        <th>Gene Name</th>
        <th>Score</th>
        <th>Principal Findings</th>
        <th>Methodology</th>
        <th>UNIPROTKB_AC</th>
        <th>UNIPROTKB_ID</th>
        <th>Ensembl</th>
        <th>Description</th>
        <th>HGNC</th>
        <th>PDB</th>
        <th>PDB ID</th>
        <th>GTEx</th>
        <th>ExpresionAltas</th>
      </tr>
    </thead>
    <tbody>
      {% for row in base %}
      <tr>
        <!--<td>{{ loop.index }}</td>-->
        <td><a href="#" class="gene-name">{{ row[2] }}</a></td>
        <td>*****</td>
        <td></td>
        <td></td>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[6] }}</td>
        <td>{{ row[7] }}</td>
        <td>{{ row[8] }}</td>
        <td>{{ row[9] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    {{ pagination.links }}
  </div>

  {% endblock %}

</body>

</html>
