<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About Flask</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <script src="{{url_for('static', filename='javascript/base.js')}}"></script>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <table border="1" class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <th>Index</th>
        <th>Rank</th>
        <th>UNIPROTKB_AC</th>
        <th>UNIPROTKB_ID</th>
        <th>Gene Name</th>
        <th>Description</th>
        <th>Ensembl</th>
        <th>HGNC</th>
        <th>PDB</th>
        <th>PDB ID</th>
        <th>GTEx</th>
        <th>ExpresionAltas</th>
      </tr>
    </thead>
    <tbody>
      {% for row in base[start:stop] %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>
          <div class="stars">
            <span class="star" data-rating="0"></span>
            <span class="star" data-rating="0"></span>
            <span class="star" data-rating="0"></span>
            <span class="star" data-rating="0"></span>
            <span class="star" data-rating="0"></span>
          </div>
        </td>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[6] }}</td>
        <td>{{ row[7] }}</td>
        <td>{{ row[8] }}</td>
        <td>{{ row[9] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <button id="prevPage">Previous</button>
    <button id="nextPage">Next</button>
    <select id="rowsPerPage">
      <option value="10">10 Rows</option>
      <option value="25" selected>25 Rows</option>
      <option value="50">50 Rows</option>
    </select>
  </div>

  {% endblock %}

</body>

</html>
