<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Target List</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/publications.css') }}">
  <script src="{{url_for('static', filename='javascript/publications.js')}}"></script>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <!--<form action="{{ url_for('base') }}" method="get" class="search-form">
    <input type="text" name="search" placeholder="Search...">
    <button type="submit">Search</button>
    <button type="button" onclick="location.href='/base'">Reset</button>
  </form>-->

  <table border="1" class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <th>UNIPROTKB_AC</th>
        <th>Publication Name</th>
        <th>Publication ID</th>
        <th>Authors</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% for row in base %}
      <tr>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td><a href="{{ url_for('reviews', publication_id=row[3]) }}" class="publication_id">{{ row[3] }}</a></td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    {{ pagination.links }}
  </div>

  {% endblock %}

</body>

</html>
