/* base.css */
.center {
  margin-left: auto;
  margin-right: auto;
}

.dataframe {
  font-family: Arial, sans-serif;
  width: 100%; /* Update width to 100% to make it responsive */
  max-width: 80%; /* Set a maximum width for larger screens */
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto; /* Center the table horizontally on the screen */
  margin-right: auto;
  border-radius: 5px; /* Add rounded corners */
}

.dataframe th,
.dataframe td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.dataframe th {
  background-color: #f2f2f2;
}

.scrollable {
  overflow-x: auto;
}

/* Form Container */
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* Input Field */
.search-form input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  border-radius: 5px; /* Add rounded corners */
}

/* Search Button */
.search-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #34bbe8;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px; /* Add rounded corners */
}

/* Added styles for prettier appearance */
.search-form input[type="text"]::placeholder {
  color: #999;
}

.search-form button:hover {
  background-color: #1d6e87;
}

body {
  font-family: sans-serif;
  background-color: #f7f7f7;
}

h1 {
  color: #34bbe8;
  text-align: center;
  margin-top: 50px;
}

p {
  font-size: 20px;
  color: #333333;
  text-align: center;
  margin-top: 20px;
}

div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  background-color: #34bbe8;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px; /* Add rounded corners */
}

/* Added styles for prettier appearance */
button:hover {
  background-color: #1d6e87;
}